header {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(74, 122, 78, 0.5), rgba(196, 179, 16, 0.5)),
    url(header-background.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  width: 100%;
  height: 500px;
  background: linear-gradient(
      180deg,
      rgba(222, 113, 24, 0.5),
      rgba(102, 159, 186, 0.5)
    ),
    url(main-background.jpg);
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  background-color: bisque;
}
