@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.25);
  --align: center;
  --column: column;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: var(--column);
  align-items: var(--align);
  background-position: var(--align);
  background-size: cover;
  margin-top: 10px;
  box-shadow: var(--shadow);
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

#navigation {
  box-shadow: var(--shadow);
}

.header-wrap {
  display: flex;
  flex-direction: var(--column);
  align-items: var(--align);
  justify-content: var(--align);
}

.main-wrap {
  height: 1500px;
  display: flex;
  flex-direction: var(--column);
  align-items: var(--align);
  justify-content: var(--align);
  box-shadow: var(--shadow);
}

.main-wrap div {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: var(--column);
  align-items: var(--align);
  justify-content: var(--align);
}

.about {
  background: linear-gradient(
      180deg,
      rgba(222, 113, 24, 0.5),
      rgba(102, 159, 186, 0.5)
    ),
    url(Images/main-background.jpg);
  background-size: cover;
  background-position: var(--align);
  height: 350px;
}

.utmb {
  background: linear-gradient(
      90deg,
      rgba(14, 14, 14, 0.5),
      rgba(177, 177, 177, 0.5)
    ),
    url(Images/UTMB.jpg);
  background-position: var(--align);
  background-size: cover;
}

.pyrennees {
  background: linear-gradient(
      90deg,
      rgba(33, 138, 189, 0.5),
      rgba(230, 199, 106, 0.5)
    ),
    url(Images/pyrennees.jpg);
  background-position: var(--align);
  background-size: cover;
}

.reunion {
  background: linear-gradient(
      90deg,
      rgba(6, 67, 114, 0.59) 0%,
      rgba(149, 148, 148, 0.5) 100%
    ),
    url(Images/reunion.jpg);
  background-position: bottom;
  background-size: cover;
}

footer {
  margin-top: 10px;
  background-color: bisque;
  box-shadow: var(--shadow);
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 9rem;
    font-weight: 350;
  }

  h2 {
    font-size: 3rem;
  }
}
